header {
    text-align:left;
    margin-left: 70px;
    margin-top: 100px;
}

main {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

h2 {
    margin-left: 25px;
}

.boxone,
.boxtwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}



.a,
.b,
.c,
.d,
.e,
.f {
    border: 2px black solid;
    margin: 50px;
    width: 250px;
    height: 250px;
}