header {
    text-align:left;
    margin-left: 70px;
    margin-top: 50px;
}
main {
    padding: 0 100px 0 100px;
}

h2 {
   
}

.boxone,
.boxtwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.a,
.b,
.c,
.d,
.e,
.f {
    border: 2px black solid;
    width: 250px;
    height: 250px;
}